@model UserSignup.ViewModels.AddUserViewModel
<form method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName"class="form-control"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"type="password" />
        <span asp-validation-for="Password" ></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Verfiy"></label>
        <input asp-for="Verfiy" class="form-control" type="password" />
        <span asp-validation-for="Verfiy"></span>
    </div>
    </br>
    <input type="submit" value="SignUp" />
</form>
